<!DOCTYPE html>
<html lang="en">

<head>
  <title>WebScraper With Mongo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://kit.fontawesome.com/d78ac0adf1.js"></script>
</head>

<body>
  {{{ body }}}
</body>

</html>